body {
    background-color: #3E3E3D;
    padding-left: 3%;
    padding-right: 3%;
    color: white;
}

#logo-1 {
    font-weight: bolder;
    color: #116EF5;
    font-size: 30px;
    }
    
.top-bar {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    position: sticky;
}
    
.nav-bar>button {
    border-radius: 10px;
    background-color: #5a5a54;
    color: white;
}
    
.nav-bar {
    padding-left: 5%;
}    

#logo-2 {
    font-size: 10px;
}