@media screen and (min-width:0px) and (max-width:575px) {

    /*...................................Home...........................................*/
    .home-container {
        padding: 23% 3% 0% 3%;
        text-align: center;
    }

    .name-desc {
        font-size: 20px;
    }

    #name {
        font-size: 6vh;
    }

    #desc {
        display: none;
    }

    #desc-responsive {
        font-size: 16px;
        width: 100%;
        font-weight: 500;
        display: inline;
    }

    #pro_pic {
        width: 45vh;
    }

    #first-name {
        font-size: 4vh;
    }

    #second-name {
        font-size: 2vh;
    }

    /*...................................About..........................................*/

    .title {
        font-size: 35px;
        font-weight: 700;
    }

    #about-container {
        padding: 0% 3% 3% 3%;
        color: white;
        justify-content: space-between;
        text-align: center;
    }

    #about_me_pic {
        width: 42vh;
    }

    #full-stack {
        display: none;
    }

    #full-stack-res {
        color: white;
        text-align: center;
        font-size: 18px;
    }

    #text {
        text-align: center;
        font-size: 14px;
    }

    .details {
        display: flex;
        justify-content: space-evenly;
        font-size: 15px;
        text-align: left;
    }
}

@media screen and (min-width:576px) and (max-width:767px) {

    /*...................................Home...........................................*/
    .home-container {
        padding: 18% 3% 0% 3%;
        text-align: center;
    }

    .name-desc {
        font-size: 28px;
    }

    #name {
        font-size: 9vh;
    }

    #desc {
        display: none;
    }

    #desc-responsive {
        font-size: 18px;
        width: 100%;
        font-weight: 500;
        display: inline;
    }

    #pro_pic {
        width: 50vh;
    }

    #first-name {
        font-size: 6vh;
    }

    #second-name {
        font-size: 3vh;
    }

    /*...................................About..........................................*/

    .title {
        font-size: 50px;
        font-weight: 700;
    }

    #about-container {
        padding: 0% 3% 3% 3%;
        color: white;
        justify-content: space-between;
        text-align: center;
    }

    #about_me_pic {
        width: 47vh;
    }

    #full-stack {
        display: none;
    }

    #full-stack-res {
        color: white;
        text-align: center;
        font-size: 25px;
    }

    #text {
        text-align: center;
        font-size: 16px;
    }

    .details {
        display: flex;
        justify-content: space-evenly;
        font-size: 18px;
        text-align: left;
    }
}

@media screen and (min-width:768px) and (max-width:991px) {

    /*...................................Home...........................................*/
    .home-container {
        padding: 15% 3% 0% 3%;
        display: flex;
    }

    .name-desc {
        font-size: 20px;
    }

    #name {
        font-size: 6vh;
    }

    #desc {
        font-size: 17px;
        width: 90%;
    }

    #pro_pic {
        width: 48vh;
    }

    #first-name {
        font-size: 8vh;
    }

    #second-name {
        font-size: 4vh;
    }

    #desc-responsive {
        display: none;
    }

    /*...................................About..........................................*/

    .title {
        font-size: 50px;
        font-weight: 700;
    }

    #about-container {
        padding: 1% 3% 3% 3%;
        display: flex;
        color: white;
        justify-content: space-between;
    }

    #about_me_pic {
        width: 45vh;
    }

    #full-stack {
        text-align: center;
        font-size: 28px;
    }

    #full-stack-res {
        display: none;
    }

    #text {
        text-align: center;
        font-size: 17px;
    }

    .details {
        margin-left: -50%;
        display: flex;
        justify-content: space-evenly;
        font-size: 20px;
    }
}

@media screen and (min-width:992px) and (max-width:1199px) {

    /*...................................Home...........................................*/
    .home-container {
        padding: 12% 3% 0% 3%;
        display: flex;
    }

    .name-desc {
        font-size: 23px;
    }

    #name {
        font-size: 7vh;
    }

    #desc {
        font-size: 20px;
        width: 90%;
    }

    #pro_pic {
        width: 55vh;
    }

    #first-name {
        font-size: 8vh;
    }

    #second-name {
        font-size: 4vh;
    }

    #desc-responsive {
        display: none;
    }

    /*...................................About..........................................*/

    .title {
        font-size: 60px;
        font-weight: 700;
    }

    #about-container {
        padding: 1% 3% 3% 3%;
        color: white;
        display: flex;
        justify-content: space-between;
    }

    #about_me_pic {
        width: 53vh;
    }

    #full-stack {
        text-align: center;
        font-size: 30px;
    }

    #full-stack-res {
        display: none;
    }

    #text {
        text-align: center;
        font-size: 19px;
    }

    .details {
        margin-left: -60%;
        display: flex;
        justify-content: space-evenly;
    }
}

@media screen and (min-width:1200px) {

    /*...................................Home...........................................*/
    .home-container {
        padding: 10% 3% 0% 3%;
        display: flex;
    }

    #name {
        font-size: 10vh;
    }

    #desc {
        font-size: 3vh;
        width: 80%;
    }

    #pro_pic {
        width: 70vh;
    }

    #first-name {
        font-size: 10vh;
    }

    #second-name {
        font-size: 5vh;
    }

    #desc-responsive {
        display: none;
    }

    /*...................................About..........................................*/

    .title {
        font-size: 70px;
        font-weight: 700;
    }

    #about-container {
        padding: 1% 3% 3% 3%;
        display: flex;
        color: white;
        justify-content: space-between;
    }

    #about_me_pic {
        width: 67vh;
    }

    #full-stack {
        text-align: center;
        font-size: 40px;
    }

    #full-stack-res {
        display: none;
    }

    #text {
        text-align: center;
        font-size: 22px;
    }

    .details {
        padding-left: 10%;
        display: flex;
        justify-content: space-evenly;
    }
}

body {
    margin: 0 auto;
}

/*...................................Home...........................................*/

.navbar-brand {
    margin-left: 3%;
    font-weight: 700;
    margin-top: -2%;
}

.sub-title {
    margin-left: 23%;
}

.navbar {
    color: white;
    background-color: #2D241A;
    width: 100%;
}

.home-container {
    font-weight: bold;
    color: white;
}

#name {
    font-weight: bolder;
    color: #116EF5;
}

#desc {
    font-weight: 500;
}

#pro_pic {
    border-radius: 100%;
    border: 5px solid blue;
}

.bottom-logo {
    text-align: center;
    opacity: 20%;
    color: white;
    font-family: "Rubik Gemstones", system-ui;
    font-weight: 400;
    font-style: normal;
    font-style: italic;
}

/*...................................About...........................................*/

.title {
    text-align: center;
    color: #116EF5;
    font-family: "Poppins", sans-serif;
}

#about_me_pic {
    border-radius: 100%;
    border: 15px solid #048DE1;
}

#skills-img {
    display: block;
    margin: auto;
    border: 3px solid #048DE1;
    border-radius: 15px;
    animation-name: square;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes square {
    0% {
        width: 300px;
        height: 300px;
    }

    25% {
        width: 500px;
        height: 350px;
    }

    50% {
        width: 700px;
        height: 400px;
    }

    75% {
        width: 900px;
        height: 450px;
    }

    100% {
        width: 1100px;
        height: 500px;
    }
}

.skill-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5%;
}

.skill-boxes {
    border: 3px solid #74767C;
    text-align: center;
    font-size: 25px;
    background-color: #473922;
    border-radius: 15px;
    color: white;
    width: 400px;
    height: 350px;
    box-shadow: 3px 3px 3px 3px #0038FF;
}

.skill-boxes:hover {
    background-color: #2D241A;
}

.skill-list {
    color: yellow;
    font-style: italic;
}

.services-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5%;
}

.services-boxes {
    border: 3px solid #74767C;
    border-radius: 15px;
    background-color: #74767C;
    text-align: center;
    box-shadow: 5px 5px #0038FF;
    color: yellow;
}

.service-img {
    width: 80px;
    height: 80px;
}

.service-desc {
    color: white;
}

.services-boxes:hover {
    background-color: #776767;
}

.projects-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5%;
}

.projects-box {
    height: 520px;
    border: 3px solid #74767C;
    border-radius: 15px;
    background-color: #473922;
    text-align: center;
    box-shadow: 3px 3px 3px 3px #0038FF;
}

.projects-img {
    width: 350px;
    height: 350px;
}

.projects-box:hover {
    background-color: #2D241A;
}

.projects-btn {
    color: white;
    font-size: 30px;
    color: #048DE1;
    border: 3px solid rgb(15, 230, 15);
    border-radius: 6px;
    text-decoration: none;
}

.projects-btn:hover {
    background-color: rgb(39, 158, 39);
    color: black;
    border-color: #116EF5;
}

#contact-title {
    font-size: 35px;
    color: #116EF5;
}

#contact-container {
    width: 80%;
    height: 500px;
    border: 1px solid black;
    padding-left: 20%;
    background-color: whitesmoke;
}

#cont-form {
    display: flexbox;
}

.form-label {
    color: #116EF5;
}

.form-control {
    width: 80%;
    height: 40px;
    border-radius: 10px;
}

#comment {
    border-radius: 10px;
}

#btn-submit {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 35%;
    cursor: pointer;
    border-radius: 5px;
}

#btn-submit:hover {
    background-color: #45a049;
}

.social-img {
    width: 7%;
}

#social-container {
    display: flex;
    flex-wrap: wrap;
    gap: 3%;
    padding-left: 25%;
}

#copyright {
    text-align: center;
    color: #116EF5;
}

#copyright>h5 {
    margin-top: -1%;
}