body {
    background-color: #3E3E3D;
    padding-left: 3%;
    padding-right: 3%;
    color: white;
}

#logo-1 {
    font-weight: bolder;
    color: #116EF5;
    font-size: 30px;
}

.top-bar {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    position: fixed;
}

.nav-bar>button {
    border-radius: 5px;
    color: white;
    background-color: #3E3E3D;
    padding-left: 12px;
}

.nav-bar>button:hover {
    background-color: rgb(39, 121, 39);
    cursor: pointer;
}

#logo-2 {
    font-size: 10px;
    margin-top: -3px;
}

.home-container {
    padding-top: 10%;
    font-size: 30px;
    font-weight: bold;
}

#name {
    font-size: 70px;
    font-weight: bolder;
    color: #116EF5;
}

#desc {
    font-size: 20px;
    font-weight: 500;
}

#pro_pic {
    height: 450px;
    border-radius: 100%;
    border: 5px solid blue;
    margin-left: 65%;
    margin-top: -26%;
    filter: drop-shadow(5px 5px 5px blue);
}

.bottom-logo {
    margin-top: 5px;
    text-align: center;
    opacity: 20%;
    color: white;
    font-family: "Rubik Gemstones", system-ui;
    font-weight: 400;
    font-style: normal;
}

#first-name {
    font-size: 70px;
    font-style: italic;
}

#second-name {
    font-size: 30px;
    font-style: italic;
}

.title {
    text-align: center;
    font-size: 70px;
    color: #116EF5;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
}

#about_me_pic {
    height: 400px;
    width: 375px;
    border-radius: 100%;
    border: 15px solid #048DE1;
}

#full-stack {
    padding-left: 55%;
    font-size: 40px;
    color: whitesmoke;
}

.desc {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

#text {
    margin-left: -25%;
    line-height: 27px;
}

.details {
    padding-left: 40%;
    margin-top: -10%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    line-height: 40px;
}

#skills-img {
    display: block;
    margin: auto;
    border: 3px solid #048DE1;
    border-radius: 15px;
    animation-name: square;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes square {
    0% {
        width: 300px;
        height: 300px;
    }

    25% {
        width: 500px;
        height: 350px;
    }

    50% {
        width: 700px;
        height: 400px;
    }

    75% {
        width: 900px;
        height: 450px;
    }

    100% {
        width: 1100px;
        height: 500px;
    }
}

.skill-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5%;
}

.skill-boxes {
    border: 3px solid #74767C;
    text-align: center;
    font-size: 25px;
    background-color: #473922;
    border-radius: 15px;
    color: white;
    width: 400px;
    height: 350px;
    box-shadow: 3px 3px 3px 3px #0038FF;
}

.skill-boxes:hover {
    background-color: #2D241A;
}

.skill-list {
    color: yellow;
    font-style: italic;
}

.services-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5%;
}

.services-boxes {
    border: 3px solid #74767C;
    border-radius: 15px;
    background-color: #74767C;
    text-align: center;
    box-shadow: 5px 5px #0038FF;
    color: yellow;
}

.service-img {
    width: 80px;
    height: 80px;
}

.service-desc {
    color: white;
}

.services-boxes:hover {
    background-color: #776767;
}

.projects-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5%;
}

.projects-box {
    height: 520px;
    border: 3px solid #74767C;
    border-radius: 15px;
    background-color: #473922;
    text-align: center;
    box-shadow: 3px 3px 3px 3px #0038FF;
}

.projects-img {
    width: 350px;
    height: 350px;
}

.projects-box:hover {
    background-color: #2D241A;
}

.projects-btn {
    color: white;
    font-size: 30px;
    color: #048DE1;
    border: 3px solid rgb(15, 230, 15);
    border-radius: 6px;
    text-decoration: none;
}

.projects-btn:hover {
    background-color: rgb(39, 158, 39);
    color: black;
    border-color: #116EF5;
}